@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* HEADER */
    .dropDownItem { 
        @apply flex w-full px-2 py-3 rounded-lg text-sm text-[#585757] font-Poppins font-medium tracking-tight duration-200 hover:bg-[#5d69c6] hover:text-white 
    }

    /* AUTHENTICATION FORMS*/
    .form {
       @apply grid place-items-center min-h-screen
       
    }

    .formContainer {
        @apply bg-white px-8 py-9 shadow-lg rounded-xl
        max-[396px]:p-5 
        max-sm:p-6
    }

    .form-title {
        @apply font-Poppins text-center text-[2.3rem] font-semibold mb-[4px]
        max-[396px]:text-[2rem]
        max-sm:text-[2.2rem]
    }

    .formBtn {
        @apply bg-NuButton duration-200 hover:bg-NuButtonHover text-white py-3 rounded-md cursor-pointer font-medium text-sm 
        max-[396px]:py-2.5 
    }

    /* AUTHENTICATION COMPONENTS */
    .auth-container {
        @apply w-[360px] duration-200
        max-[396px]:w-[300px]
        max-sm:w-[330px]
    }

    .auth-input-container {
        @apply flex border-2 rounded-lg px-3 duration-200 mt-[1.2rem] bg-[#fbfcfe]
    }

    .auth-input-field {
        @apply outline-none text-[0.8rem] ml-2 py-4  bg-transparent w-full h-full font-medium font-Poppins
        max-[396px]:py-3.5 max-[396px]:text-[0.7rem]
    }

    .profile-registration-container {
        @apply flex flex-col items-center space-y-4
        max-sm:flex-col max-sm:w-full max-sm:gap-0 
        max-md:gap-0 
        max-lg:gap-0
    }

    /* NAVIGATION */
    .nav-container {
        @apply flex w-full justify-center flex-wrap gap-16
        max-sm:flex-col max-sm:gap-0
        max-md:gap-4
        max-lg:gap-10
        
    }
    .navigation {
        @apply flex flex-col bg-NuButton text-white text-center font-Poppins shadow-md w-72 h-[19rem] mt-16 py-10 px-4 rounded-2xl duration-300 hover:bg-NuBlue hover:duration-300 hover:shadow-lg
        max-[396px]:w-80 max-[396px]:pl-6
        /* min-width 640px*/
        max-sm:w-[70vw] max-sm:h-24 max-sm:flex-row max-sm:pl-8 max-sm:text-base max-sm:my-2 max-sm:py-0  
        max-md:h-44
        /*min-width 1024px*/
        max-lg:h-48 max-lg:min-w-80 max-lg:flex-row max-lg:m-0 max-lg:mx-auto
    }

    .iconContainer {
        @apply mx-auto 
        max-sm:mx-0 max-sm:my-auto max-sm:mr-5
        max-lg:my-auto max-lg:mr-4
    }

    .icon {
        @apply text-[5.3rem]
        max-sm:text-5xl 
        max-md:text-7xl
        max-lg:text-7xl
    }

    .nameContainer {
        @apply max-lg:my-auto
    }

    .nav-Name {
        @apply text-xl my-6 font-medium 
        max-sm:mt-0 max-sm:mb-0 max-sm:text-left
        max-md:mb-2
        max-lg:mt-0 max-lg:text-left max-lg:mb-2
    }

    .nav-Definition {
        @apply text-sm mx-2
        max-sm:hidden  
        max-md:mt-0
        max-lg:text-xs max-lg:text-left max-lg:mx-0 max-lg:mt-0
    }

    /* HOME */ 
    .homeHeader {
        @apply text-8xl font-black mt-16 mb-10 font-Poppins 
        after:content-[''] after:flex after:mx-auto after:bg-NuBlue after:w-48 after:h-1 after:mt-5
        max-[396px]:text-5xl
        max-sm:mt-8 max-sm:text-6xl max-sm:mb-8
        max-md:text-7xl max-md:mb-16 
        max-lg:text-7xl
    }

    /* PROFILE */
    .profileFields {
        @apply flex flex-col w-72
    }
    
    .label {
        @apply text-sm text-[#939292]
    }

    .profileNav {
        @apply py-2 px-4 hover:text-white hover:bg-NuButtonHover font-medium duration-300 rounded-md 
        max-sm:px-3 max-sm:text-sm 
    }
    .profileActive { 
        @apply bg-NuButton text-white 
    }

    /*APPLICATION FORMS*/
    .requirements {
        @apply font-normal font-Poppins
    }
    .formTitle {
        @apply text-[1.2rem] font-medium tracking-tight font-Poppins mb-1
    }

    .inputContainer {
        @apply flex justify-between 
        max-sm:justify-normal
    }
    .inputLabel {
        @apply text-base font-normal max-sm:w-36 max-sm:my-auto max-sm:text-sm
    }

    .inputFields {
        @apply py-2 px-3.5 ml-3 w-[25vw] border-2 text-sm relative top-[-9px] rounded-md 
        max-sm:top-0 max-sm:w-72
    }

    /* .inputFileFields {
        @apply relative top-[-9px] ml-3 w-[25vw] text-sm bg-white overflow-hidden rounded-md border-2 cursor-pointer
        file:py-2.5 file:px-3 file:border-0 file:mr-2 file:text-white file:bg-[#41518d] file:text-xs file:hover:bg-[#5d69c6] file:duration-200 file:cursor-pointer
    } */

    /* SETTINGS */
    .settingNavActive {
        @apply bg-NuButton text-white rounded-md
    }
    
    .setting-input-container {
        @apply relative rounded-lg w-full
    }

    .setting-input-label {
        @apply absolute left-3.5 top-5 pointer-events-none duration-200
        peer-focus:text-[0.8rem] peer-focus:top-1.5 peer-focus:text-[#9ca0a4]
        peer-valid:top-1.5 peer-valid:text-[0.8rem] peer-valid:text-[#9ca0a4]
    }

    /* ADMIN VIEW APPLICATION FORM */
    .imageButton {
        @apply border-2 flex rounded-lg px-2 py-3 space-x-2 hover:bg-NuButtonHover hover:text-white duration-200 hover:border-NuButtonHover
    }

    .imageNameContainer {
        @apply flex flex-col text-left
    }

    .uploadName {
        @apply text-xs font-medium
    }

    .imagePathName {
        @apply text-[0.7rem] translate-y-1 w-48 text-ellipsis overflow-hidden whitespace-nowrap 
    }

    .checkBoxApprove {
        @apply h-5 w-5 cursor-pointer accent-green-600 bg-slate-700 rounded
    }

    .checkBoxDecline {
        @apply h-5 w-5 cursor-pointer accent-red-500 bg-slate-700 rounded
    }

    /* CREATE RANK MODAL */
    .rankInputs {
        @apply px-2 py-2 text-sm border-2 outline-none w-full duration-300
    }

}


/* table design  */
td:first-child{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

td:last-child{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Scroll Design */
::-webkit-scrollbar {
    padding: 10px 5px;
    width: 4px;
    background-color: #f87171;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.colored-toast .swal2-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: -0.025em;
}

.background-gradient {
    background: linear-gradient(to bottom, #fbfbfd, #f8f8fd);
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

  
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(20px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
}
  

.shake {
    animation: shake 0.5s ease-in-out;
}

.fade-in {
    animation: fadeIn 0.2s easet forwards;
}

.fade-left {
    animation: fadeLeft 0.2s ease forwards;
}

.arrow {
    position: absolute;
    top: 100%; /* Position above the popover */
    left: 50%; /* Center the arrow horizontally */
    transform: translateX(-50%); /* Adjust centering */
    width: 0;
    height: 0;
    border-left: 8px solid transparent; /* Adjust for the arrow size */
    border-right: 8px solid transparent; /* Adjust for the arrow size */
    border-bottom: 15px solid #f87171; /* Color matches popover */
}

.bouncing-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouncing-loader div {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: #3498db; /* Blue */
    animation: bounce 0.6s infinite alternate;
}

.bouncing-loader div:nth-child(2) {
    animation-delay: 0.2s;
}

.bouncing-loader div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

