@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* HEADER */
    .dropDownItem { 
        @apply flex w-full px-2 py-3 rounded-lg text-sm text-[#585757] font-Poppins font-medium tracking-tight duration-200 hover:bg-[#5d69c6] hover:text-white 
    }

    /* AUTHENTICATION FORMS*/
    .form {
       @apply grid place-items-center min-h-screen
       
    }

    .formContainer {
        @apply bg-white px-8 py-8 shadow-lg rounded-xl
        max-[396px]:p-5 
        max-sm:p-6
    }

    .form-title {
        @apply font-Poppins text-center text-[2.3rem] font-semibold mb-[4px]
        max-[396px]:text-[2rem]
        max-sm:text-[2.2rem]
    }

    .formBtn {
        @apply bg-[#41518d] text-white py-3 rounded-md cursor-pointer font-Poppins font-medium text-sm
        max-[396px]:py-2.5 
    }

    /* AUTHENTICATION COMPONENTS */
    .auth-container {
        @apply w-[360px] duration-200
        max-[396px]:w-[300px]
        max-sm:w-[330px]
    }

    .auth-input-container {
        @apply flex border-2 rounded-lg px-3 focus-within:border-[#c1c6f2] duration-200 bg-[#f5f6fa] mb-4 
    }

    .auth-input-field {
        @apply outline-none text-[0.8rem] ml-2 py-4 bg-transparent w-full h-full font-medium font-Poppins
        max-[396px]:py-3.5 max-[396px]:text-[0.7rem]
    }

    .profile-registration-container {
        @apply flex flex-wrap gap-14 font-Poppins
        max-sm:flex-col max-sm:w-full max-sm:gap-0 
        max-md:gap-0 
        max-lg:gap-0
    }

    /* NAVIGATION */
    .nav-container {
        @apply flex w-full justify-center flex-wrap gap-16
        max-sm:flex-col max-sm:gap-0
        max-md:gap-4
        max-lg:gap-10
        
    }
    .navigation {
        @apply flex flex-col bg-[#41518d] text-white text-center font-Poppins shadow-md w-72 h-[19rem] mt-16 py-10 px-4 rounded-2xl duration-300 hover:bg-NuBlue hover:duration-300 hover:shadow-lg
        max-[396px]:w-80 max-[396px]:pl-6
        /* min-width 640px*/
        max-sm:w-96 max-sm:h-24 max-sm:flex-row max-sm:pl-10 max-sm:text-base max-sm:my-2 max-sm:py-0  
        max-md:h-44
        /*min-width 1024px*/
        max-lg:h-48 max-lg:min-w-80 max-lg:flex-row max-lg:m-0 max-lg:mx-auto
    }

    .iconContainer {
        @apply mx-auto 
        max-sm:mx-0 max-sm:my-auto max-sm:mr-5
        max-lg:my-auto max-lg:mr-4
    }

    .icon {
        @apply text-[5.3rem]
        max-sm:text-5xl 
        max-md:text-7xl
        max-lg:text-7xl
    }

    .nameContainer {
        @apply max-lg:my-auto
    }

    .nav-Name {
        @apply text-xl my-6 font-medium 
        max-sm:mt-0 max-sm:mb-0 max-sm:text-left
        max-md:mb-2
        max-lg:mt-0 max-lg:text-left max-lg:mb-2
    }

    .nav-Definition {
        @apply text-sm mx-2
        max-sm:hidden  
        max-md:mt-0
        max-lg:text-xs max-lg:text-left max-lg:mx-0 max-lg:mt-0
    }

    /* HOME */ 
    .homeHeader {
        @apply text-8xl font-black mt-16 mb-10 font-Poppins 
        after:content-[''] after:flex after:mx-auto after:bg-NuBlue after:w-48 after:h-1 after:mt-5
        max-[396px]:text-5xl max-[396px]:mb-10 max-[396px]:mt-10
        max-md:text-7xl max-md:mb-16 
        max-lg:text-7xl
    }

    /* PROFILE */
    .profileFields {
        @apply flex mb-4
    }
    
    .label {
        @apply text-base font-medium w-32 
    }

    /*APPLICATION FORMS*/
    .requirements {
        @apply font-normal font-Poppins
    }
    .formTitle {
        @apply text-[1.2rem] font-medium tracking-tight font-Poppins mb-1
    }

    .inputContainer {
        @apply flex justify-between
    }
    .inputLabel {
        @apply text-base font-normal
    }

    .inputFields {
        @apply py-2 px-3.5 ml-3 w-[25vw] border-2 text-sm relative top-[-9px] rounded-md
    }

    .inputFileFields {
        @apply relative top-[-9px] ml-3 w-[25vw] text-sm bg-white overflow-hidden rounded-md border-2 cursor-pointer
        file:py-2.5 file:px-3 file:border-0 file:mr-2 file:text-white file:bg-[#41518d] file:text-xs file:hover:bg-[#5d69c6] file:duration-200 file:cursor-pointer
    }

    /* SETTINGS */
    .settingNav {
        @apply text-[1rem] font-Poppins flex py-3 px-4 duration-300 mb-1 hover:bg-[#bbc1ee] rounded-xl
    }

    .setting-column-container {
        @apply flex justify-between w-full space-x-2
    }

    .setting-input-container {
        @apply relative rounded-lg mt-4 w-[47%]
    }

    .setting-input-label {
        @apply absolute left-3.5 top-5 pointer-events-none duration-200
        peer-focus:text-[0.8rem] peer-focus:top-1.5 peer-focus:text-[#9ca0a4]
        peer-valid:top-1.5 peer-valid:text-[0.8rem] peer-valid:text-[#9ca0a4]
    }

    /* ADMIN VIEW APPLICATION FORM */
    .imageButton {
        @apply border-2 flex rounded-lg px-2 py-3 space-x-2 hover:bg-NuButtonHover hover:text-white duration-200 hover:border-NuButtonHover
    }

    .imageNameContainer {
        @apply flex flex-col text-left
    }

    .uploadName {
        @apply text-xs font-medium
    }

    .imagePathName {
        @apply text-[0.7rem] translate-y-1 w-48 text-ellipsis overflow-hidden whitespace-nowrap 
    }

    .checkBoxApprove {
        @apply h-5 w-5 cursor-pointer accent-green-600 bg-slate-700 rounded
    }

    .checkBoxDecline {
        @apply h-5 w-5 cursor-pointer accent-red-500 bg-slate-700 rounded
    }

    /* CREATE RANK MODAL */
    .rankInputs {
        @apply px-2 py-2 text-sm border-2 outline-none w-full duration-300
    }

}

td:first-child{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

td:last-child{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* toast */
/* .colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}
  
.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
} */

.colored-toast .swal2-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: -0.025em;
}

